<!-- app/features/docs-viewer/docs-viewer.html -->

<div class="docs-viewer" #docsViewer>

  <!-- Header -->
  <header class="dv-header">
    <div class="dv-title">{{ $docId() }}</div>

    <nav class="dv-nav">
      <div class="dv-actions">

        <!-- Theme toggle (should become its own component) -->
        <app-theme-toggle (toggleTheme)="onToggleTheme()">
        </app-theme-toggle>
        <div class="dv-button">
          <button (click)="backToIndex()">Back</button>
          <button (click)="reloadDoc()">Reload</button>
          <button (click)="toggleShowToc()">{{ $showToc() ? 'Hide TOC' : 'Show TOC' }}</button>
          <button (click)="toggleArtifacts()">Artifacts</button>
          <button (click)="toggleDebugOverlay()">Debug Overlay</button>

          <button (click)="toggleDebugMermaid()">Debug Mermaid</button>

        </div>
      </div>
    </nav>
  </header>

  <!-- Optional progress bar -->
  <div class="progress-bar">
    <div class="progress-bar_fill" [style.width.%]="100">
      <!-- </div><div class="progress-bar_fill" [style.width.%]="scrollService.scrollPercent()">
    </div> -->
    </div>
  </div>

  <!-- Body -->
  <div class="dv-body">

    <!-- TOC Sidebar -->
    @if (true) {
    <!-- @if ($showToc()) { -->
    <aside class="dv-toc" #dvToc>
      <div appTocResizerDirective [dvTocResizer]="$dvTocRef()?.nativeElement" class="dv-toc-resizer"></div>
      <h2>{{`${$currentDocId()}.md`}}</h2>
      <h3 [style.padding-left.px]="7"> Table of Contents</h3>

      <ul class="toc-root">
        @for (node of $tocTree(); track node.entry.slug) {
        <ng-container *ngTemplateOutlet="tocNode; context: { $implicit: node }"></ng-container>
        }
      </ul>

      <!-- <ul>
        @for (item of $toc(); track item.slug) {
        <li class="toc-item" [style.padding-left.px]="(item.level - 1) * 16"
          [class.active]="$activeHeading() === item.slug">
          <a (click)="scrollTo(item.slug)">
            {{ item.text }}
          </a>
        </li>
        }
      </ul> -->

      <h2>{{`${previousDocId}.md`}}</h2>
    </aside>
    }

    <!-- Main Content -->
    <main class="dv-content">
      <div class="host-wrapper">
        <div #overlay class="host-overlay hidden"></div>
        <div #host class="dv-host"></div>
      </div>
    </main>

  </div>

</div>

<div class="dv-debug-overlay" [class.visible]="$showDebugOverlay()"></div>

<div class="dv-artifacts-panel" [class.visible]="$showArtifacts()"></div>

<div class="dv-mermaid-debug-panel" [class.visible]="$showDebugMermaid()? true: false">
  <header>
    {{"Debug Mermaid Panel"}}
  </header>
  <ol class="dv-mermaid-debug-panel-content"></ol>
</div>


<ng-template #tocNode let-node>
  <li class="toc-item" [style.padding-left.px]="(node.entry.level - 1) * 16"
    [class.active]="$activeHeading() === node.entry.slug" [class.parent-active]="isParentActive(node)">

    <div class="toc-line">
      @if (node.children.length > 0) {
      <button class="toc-collapse-btn" (click)="node.collapsed = !node.collapsed">
        {{ node.collapsed ? '▶' : '▼' }}
      </button>
      } @else {
        &nbsp;&nbsp;&nbsp;
      }

      <a (click)="scrollTo(node.entry.slug)">
        {{ node.entry.text }} - {{node.entry.slug}}
      </a>
    </div>

    @if (!node.collapsed && node.children.length > 0) {
    <ul class="toc-children">
      @for (child of node.children; track child.entry.slug) {
      <ng-container *ngTemplateOutlet="tocNode; context: { $implicit: child }"></ng-container>
      }
    </ul>
    }
  </li>
</ng-template>
